@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;700;800&display=swap");

.swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1140px) {
  .product {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
}
@media (min-width: 1140px) {
  .filters {
    width: 21rem !important;
  }
}
@media (min-width: 1314px) {
  .product {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
}
@media (min-width: 1320px) {
  .filters {
    width: 24rem !important;
  }
}
